@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Medium.ttf');
}

.title-one {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3rem;
  color: #1F527D;
  text-align: center;
}